<form class="entry" action="" method="post">
<h1>Please select the day you wish to work on</h1>

  <input type="checkbox" name="name" value="Sunday">Sunday
  <input type="checkbox" name="name" value="Monday">Monday
  <input type="checkbox" name="name" value="Tuesday">Tuesday
  <input type="checkbox" name="name" value="Wednesday">Wednesday
  <input type="checkbox" name="name" value="Thursday">Thursday
  <input type="checkbox" name="name" value="Friday">Friday
  <input type="checkbox" name="name" value="Saturday">Saturday
<br>
<br>
<button type="submit" name="button">Send days</button>
</form>
